/* Credit: https://electronjs.org/docs/api/frameless-window */
:root {
    --marg: 5px;
    --radius: 100;
    --alpha: 0.98;
}

body {
    margin: 0;
    background: transparent; 
    -webkit-app-region: drag;
    border-top: 20px solid transparent;
    font-family: sans-serif;
    /* Credit: https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.drag {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20px;
    background: transparent;
    transition: background 0.2s;
    z-index: 69;
}

.drag:hover {
    background: white;
}

.drag:hover span {
    color: black;
}

button {
    -webkit-app-region: no-drag;
}

#clickThroughElement {
    margin: 0 var(--marg) var(--marg);
    width: calc(100vw - 2 * var(--marg));
    height: calc(100vh - 2 * var(--marg));
    position: fixed;
    top: 20px;
}

svg {
    width: calc(100vw - 2 * var(--marg));
    height: calc(100vh - 2 * var(--marg));
    position: fixed;
    top: var(--marg);
}

.darkness {
    fill: rgba(0,0,0,var(--alpha));
}

#holes rect {
    fill: white;
}

#holes circle {
    r: var(--radius);
    /* fill: black; */
}

span {
    text-align: right;
    position: absolute;
    top: 3px;
    right: 10px;
    color: rgba(256, 256, 256, 0.21);
    size: 5px;
    pointer-events: none;
    z-index: 420;
}

.modal {
    max-width: 300px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: calc(50vw - 150px);
    top: calc(50vh - 20px - 10px);
    background: lightgrey;
    border-radius: 4px;
    visibility: hidden;
    padding: 10px 15px;
}

.modal.open {
    visibility: visible;
}

.modal div {
    display: grid;
    grid-template-columns: 90px 140px 50px;
    grid-gap: 10px;
}